#
# {{ ansible_managed }}
#

{% for line in users_default_bashrc %}
{{ line }}
{% endfor %}

{%- if "bashrc" in item.value.keys() %}
{%- for line in item.value.bashrc %}
{{ line }}
{% endfor %}
{%- endif %}
