"
" {{ ansible_managed }}
"

{% for line in users_default_vimrc %}
{{ line }}
{% endfor %}

{%- if "vimrc" in item.value.keys() %}
{%- for line in item.value.vimrc %}
{{ line }}
{% endfor %}
{%- endif %}
